# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
build/
*.pbxuser
*.perspectivev3
**/xcshareddata/WorkspaceSettings.xcsettings
*.mode1v3
*.mode2v3
!default.pbxuser
!default.perspectivev3
!default.mode1v3
!default.mode2v3

# macOS
.DS_Store
*.swp
*~
